
img {
  width:100%;
  margin-bottom:0.3em;
}
.container {
  width: 95%;
  margin: 0 auto;
}
.grid {
  display:flex;
}
.grid-col {
  flex:1;
  padding: 0 .1em;
}

.grid-col--2, .grid-col--3 ,.grid-col--4 {
  display:none;
}
.grid-item{
    position: relative;
    width:100%;
   
}

/* .content {
  position:absolute;
  background:rgba(0, 0, 0, 0.8);
  color:#fff;
  margin-top:1em;
  
 
} */
.content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(29, 106, 154, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    height: 97%;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }
  
  .grid-item:hover .content {
    visibility: visible;
    opacity: 1;
  
    overflow-y: auto;
    
  }
  ::-webkit-scrollbar{
      width: 20px;
  }
@media (min-width:768px) {
  .container {
    width:90%;
  }
  h1 {
    margin:2em 0;
  }
  .grid-col {
    padding:0 0.5em;
  }
  .grid-col--2 {
    display:block;
  }
  img {
    margin-bottom:0.8em;
  }
  .content {
    opacity:0;
    transform:translateX(-.5em);
    transition:all 1s;
    will-change:opacity, transform;
  }
  .grid-item:hover {
    cursor:pointer;
    
   
  }
}
.content {
    opacity:1;
    transform:translateX(0);
  }
@media (min-width:1080px) {
  .grid-col--3 {
    display:block;
  }
  .container {
    width:80%;
  }
}



